<h1>{{messages.title}}</h1>
<label><div>{{messages.id}}</div> <input value="" disabled /></label>
<label><div>{{messages.firstName}}</div> <input value="" /></label>
<label><div>{{messages.lastName}}</div> <input value="" /></label>
<label><div>{{messages.birthday}}</div> <input value="" /></label>
<label><div>{{messages.gender}}</div> <select><option>{{messages.female}}</option><option>{{messages.male}}</option></select></label>
<label><div>{{messages.lastContact}}</div> <input value="" /></label>
<label><div>{{messages.customerLifetimeValue}}</div> <input value="" /></label>
<button>{{messages.save}}</button>
<button>{{messages.cancel}}</button>

